<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Error Page</title>
</head>

<body>
	
    <h1>{{pageTitle}}</h1>
    
     <p>{{time}}</p>
    
<footer>
	
	<p>copyRight@{{time}}  </p>
</footer>
    
</body>

</html>