<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>maintanace Page</title>
</head>

<body>
	
    <h1>We'll be Right back</h1>
    
     
    
<footer>
	
	<p>copyRight@{{time}}  </p>
</footer>
    
</body>

</html>